* {
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --primary: #6379F4
  
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap%27');