.form-change-password input {
  border: 0;
  padding-left: 2rem;
  border-bottom: 2px solid rgba(169, 169, 169, 0.6);
}

.form-change-password input::placeholder {
  color: #A9A9A9;
}

.form-change-password input:focus, button:focus {
  outline: none;
}

.focused-input {
  border-bottom: solid var(--primary) 2px !important;
}